In [1]:
#------------------------------------------------------------------------------
# ECEN 5773 Developing the Industrial Internet of Things
# University of Colorado, Boulder
# College of Engineering and Applied Science.
# Instructor: Dave Sluiter
# 
# Praticing Python assignment.
#
# Using the python_training notebook as a guide, complete the following cells
# in this notebook. 
#
# Run all of the cells and save the notebook.
#
# To turn in to Canvas: The saved practicing_python.ipynb file.
#
# Student name: < Parth Thakkar >
#
#------------------------------------------------------------------------------

#------------------------------------------
# 1 Basic Data Types
#------------------------------------------

# Assign the integer value of 25 to a variable and print the variable.
a = 25
print(a);

# Assign the floating point value of 2.716 to a variable and print the variable.
a = 2.716
print(a)

# Assign a string consisting of your first and last names to a variable and print the variable.
course_name = "ECEN 5776"
a = f"parth thakkar from {course_name}"  
print(a)

25
2.716
parth thakkar from ECEN 5776

In [2]:
#-----------------------------------------------------
# 2 Lists (arrays) and dictionaries (associative arrays)
#-----------------------------------------------------

# Create a list with the names of 3 friends and print each element in the list

a = ["parth thakkar", "pandya prathmesh", "manav shah"]
for i in a:
    print(i)

for i in range(0, a.count(a)):
    print(a[i])


# Create a dictionary that contains keys that are the names of your 3 favorite books,
# with the values being 1 for your 1st favorite, 2 for your second favorite, and 3
# for your 3rd favorite. print the key and the value of your 1st favorite book.
books = {
    1: "bhagwad gita",
    2: "ramayana",
    3: "mahabharat"
}
print()
for i in books.keys():
    print(i, end=" ") 
    print(books[i])

for i, key in enumerate(books.keys()):
    print(i, ") key: ", key, " value: ", books[key]);

parth thakkar
pandya prathmesh
manav shah

1 bhagwad gita
2 ramayana
3 mahabharat
0 ) key:  1  value:  bhagwad gita
1 ) key:  2  value:  ramayana
2 ) key:  3  value:  mahabharat

In [3]:
#------------------------------------------
# 3 If/else and for loops, iterators and while loops
#------------------------------------------

# Create a for loop that prints the values 10 to 100, stepping by 10 each time
# through the loop.

for i in range(0, 101, 10):
    print(i)
print()
for i in range(0, 101):
    if (i%10 == 0): print(i)

0
10
20
30
40
50
60
70
80
90
100

0
10
20
30
40
50
60
70
80
90
100

In [4]:
#------------------------------------------
# 4 Functions
#------------------------------------------

# Create a function that accepts 2 inputs, multiplies them together, and
# then adds 5, and returns that value to the caller. Call that function
# with 2 parameters and print the result.

def fun(a :int, b :int) ->int:
    return (a * b) + 5

fun(10, 10), fun(10, 20), fun(1, 2)

(105, 205, 7)

In [15]:
#------------------------------------------
# 5 Numpy library
# numpy implements matrix construction and operations
#
# See: https://numpy.org/doc/1.21/
#      https://numpy.org/doc/1.21/user/absolute_beginners.html
#
# Both sci-kit learn and tensor flow models can read np arrays.
#
# The np library contains many methods for performing matrix
# operations so you don't have to spend time coding all those
# lower-level details, examples include matrix transpose, 
# and matrix multiplication etc - yay!
#------------------------------------------

import numpy as np  # linear algebra


# Create a [3x4] np matrix and a [4x3] np matrix, multiply them together (dot)
# yielding a [3x3]. print the resulting [3x3] matrix values.

x_size = 4 * 3
y_size = 3 * 4
x = np.arange(x_size).reshape(3, 4);
y = np.arange(y_size).reshape(4, 3);
print("Type of x ", type(x));
print(" X: \n", x);
print("Type of y ", type(y));
print(" Y: \n", y);
print()

x = np.matrix(x);
y = np.matrix(y);
print("Type of x ", type(x));
print(" X: \n", x);
print("Type of y ", type(y));
print(" Y: \n", y);


print("Answers")
dot = np.dot(x, y)
print("X dot Y\n", dot);
print(" X * Y\n", x * y);
print(" X @ Y\n", x @ y);


# cross = np.cross(x, y)
# print("X dot Y\n", cross);
# a = np.matrix([[1, 1, 1], [2, 3, 4], [5, 6, 7]], np.int)

Type of x  <class 'numpy.ndarray'>
 X:
 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
Type of y  <class 'numpy.ndarray'>
 Y:
 [[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

Type of x  <class 'numpy.matrix'>
 X:
 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
Type of y  <class 'numpy.matrix'>
 Y:
 [[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]
Answers
X dot Y
 [[ 42  48  54]
 [114 136 158]
 [186 224 262]]
 X * Y
 [[ 42  48  54]
 [114 136 158]
 [186 224 262]]
 X @ Y
 [[ 42  48  54]
 [114 136 158]
 [186 224 262]]

In [10]:
#------------------------------------------
# 6 Pandas library
# Pandas implements a more sophisticated numpy library.
# The library functions much like Excel spreadsheets. Think "np arrays" but with
# column header values and row header values, typically text fields that describe
# the column or the row. Row headers are referred to as "index" values and column headers
# are referred to as "column" values. If you execute len(series_name), you'll get the
# number of rows in the Series. I think of this as the "depth" of the Series.
#
# See docs at: https://pandas.pydata.org/pandas-docs/stable/reference/frame.html
# 
# Key concepts:
#
# First we have a data structure known as a Series. You can think of a Series as a
# column vector of data. They operate much like a dictionary and indexed by the row index "keys".
# The one difference with a series vs. a dictionary is that a Series has to contain element 
# values that are all of the same data type - be aware.
#
# Second, multiple Series can be arranged into a 2-d matrix of Series called a
# DataFrame. A 2-d data frame is a classic Excel Spreadhseet. The default row and
# column header values are numbers that range from 0 to m-1, n-1, where m-1 is the number
# rows and n-1 is the number of columns. Here's the tricky bit that I found, each
# Series (dictionary) in a data frame has to have the same key values, i.e. the same row index
# values. The index and column variables are not static, but can be updated programatically.
# Once the index and column header values have been assigned (or not, i.e. using the
# default values), sorting or otherwise rearranging the rows and columns in a data frame
# does not result in changing the header values. So imagine a data frame:
#
#     A   B   C
# 0   5   6   7
# 1   10  60  30
# 2   50  20  70
#
# And you rearrange (sort) the data frame on column B values, say from largest to smallest,
# you'd get:
#
#     A   B   C
# 1   10  60  30
# 2   50  20  70
# 0   5   6   7
#
# See that those row index values (0, 1, 2) "follow along" with the data.
#
# Tensor flow models can read pandas arrays. I haven't tried sci-kit learn models.
#
#------------------------------------------

# See: https://pythonhow.com/accessing-dataframe-columns-rows-and-cells/

import pandas as pd

# Create a 4x4 data frame with 4 rows with index values 0 to 3, and 4 columns
# with column header values of A, B, C and D. Print all the values of the data frame
# including the row index values and the column header values.
df = pd.DataFrame(np.random.rand(4,4), index=[0, 1, 2, 3], columns=['A', 'B', 'C', 'D'])
print(df)

          A         B         C         D
0  0.779974  0.904804  0.366917  0.903874
1  0.456377  0.470257  0.015246  0.257977
2  0.955231  0.034973  0.730493  0.799334
3  0.077903  0.493844  0.043521  0.486977

In [11]:
df

          A         B         C         D
0  0.779974  0.904804  0.366917  0.903874
1  0.456377  0.470257  0.015246  0.257977
2  0.955231  0.034973  0.730493  0.799334
3  0.077903  0.493844  0.043521  0.486977